@import 'tailwindcss';
body {
  margin: 0;
  font-family: Consolas, monospace;
  background: #1e1e1e;
  color: #fff;
  height: 100vh;
  /* overflow: hidden;  */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  gap: 10px;
}

h2 {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

button {
  background: #007acc;
  border: none;
  color: white;
  padding: 6px 14px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #005a9e;
}

.preview {
  display: none; /* hidden, since execution is sandbox only */
}

.editor-wrapper {  
  border: 1px solid #333;
  flex: 1;
}

.console {
  width: 50%;
  background: #111;
  border: 1px solid #333;
  padding: 8px;
  overflow-y: auto;
  font-size: 13px;
  white-space: pre-wrap;
}
.console .log {
 text-align: left;
}
